body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 30%;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.chat-box {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden; 
  overflow-y:hidden;
  margin-bottom: 3rem;
}
.chat-box > div {
  width: 100%;
  padding: 0.5rem 1rem;
}
.current-user {
  background: #fffda0;
}

.other-user{
  background: #8ee8ff
}

.dropdown-menu {
  height: 30vh;
  width: 30vw;
}

.create-chat-div {
  padding: 3%;
}

.form-select {
  margin: 1% 0 0 1%;
  width: 98%;
}

.chat-window {
  position: absolute;
  width: 70%;
  left: 30%;
}

.navbar {
  height: 75px;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* box-shadow: 1px 0px 2px 2px gray; */
  border-left: 1px solid black
}

.sidebar-section {
  display: flex;
  height: 100px;
  align-items: center;
  width:100%;
  padding: 30px;
}

.sidebar-section-focus {
  background-color: rgb(168, 168, 168);
}

.sidebar-nav {
  display: flex;
  width:100%;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.sidebar-chat {
  width:100%;
}

.sidebar-img-div {
  flex: 0 0 auto;
  width: 25%;
  margin-right: 5%;
}

.read-receipt {
  width: 10px;
  height: 10px;
  background-color: rgba(5, 88, 126, 0.842);
  border-radius: 50%;
}

.read-receipt-div {
  flex: 0 0 auto;
  width: 8.33%;
  margin-left: 3%;
}

.sidebar-img {
  width: 90%;
  border-radius: 50%;
  border: 1px solid black;
}

.sidebar-content{
  display:flex;
  flex-flow: column;
}

.btn-center{
  width: 25%;
}

.center-div{
  display:flex;
  justify-content: center;
}

.message{
  display: flex;
  justify-content: space-between;
}

.login-page{
  margin: 2%
}

.login-box{
  padding: 3%;
}

.login-header{
  margin-bottom: 3%;
}

.signup-page{
  margin: 2%
}

.create-chat-selected{
  display: flex;
  width: 100%;
  padding: 1%;
  height: 55px;
}

.selected-user {
  width: fit-content;
  margin-right: 1%;
}

.selected-user-x {
  height: 25px;
  margin-right: -5px;
}